// colors
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$green-bg: #99E2D0;
$green-font: #008766;
$font-color: #000000;
$light-blue: #89C8FA;
$dark-blue: #003A68;
$grey: #353535;
$light-grey: #EAEAEA;
$grey-bg: #F6F6F6;
$icon-grey: #7E7E7E;
