@use '../abstracts/variables' as *;
@use '../base/typography' as *;
@use '../components/restaurants_cards' as *;
@use '../components/button' as *;
@use '../components/operation_cards' as *;

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $grey-bg;
  padding: 30px 20px 50px 20px;

    p {
    font-weight: 300;
    font-size: $h2-size;
    color: $grey;
  }
}

.operation-section,
.restaurants-section {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.operation-section {
  justify-content: center;
  margin-bottom: 50px;

    h2 {
    text-align: left;
    margin: 50px 0 30px 20px;
    font-size: $h1-size;
  }
}

.restaurants-section {
  background-color: $grey-bg;
  padding-bottom: 50px;

    h2 {
    text-align: left;
    margin: 50px 0 30px 20px;
    font-size: $h1-size;
  }
}

// ----- Responsive Design

// Tablets and medium screens

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro-section {
    h1 {
      font-size: 36px;
    }
  }

  .operation-section {
    h2 {
      display: flex;
      justify-content: flex-start;
      margin-left: 50px;
    }
  }

  .operation_cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .restaurants-section {
    h2 {
      display: flex;
      justify-content: flex-start;
    }

    .restaurants_cards_container {
      display: flex;
      flex-direction: row;
    }
  }
}

// Desktop and larger screens

@media screen and (min-width: 1024px) {
  .intro-section {
    h1 {
      font-size: 40px;
    }
  }

  .operation-section {
    h2 {
      display: flex;
      justify-content: flex-start;
    }
  }

  .operation_cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .restaurants-section {
    h2 {
      display: flex;
      justify-content: flex-start;
    }

    .restaurants_cards_container {
      display: flex;
      flex-direction: row;
    }
  }

  .operation-section,
  .restaurants-section {
    padding: 0 150px;
  }
}
