@use '../abstracts/variables' as *;
@use '../base/typography' as *;

.main-menu {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: $grey-bg;

  img {
    width: 100%;
  }

  h1 {

    margin-bottom: 20px;
  }

  h2 {
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
  }
}

hr {
  border: none;
  border-top: 3px solid $terciary-color;
  width: 40px;
  margin: 5px 0 0 0;
}
