@use '../abstracts/variables' as *;
@use '../base/typography' as *;


.menu_cards {
  box-shadow: 0px 4px 15px 0px #00000026;
  border-radius: 20px;
  height: 72px;
  margin: 15px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  min-width: 0;
  overflow: hidden;
  padding: 0 0 0 15px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideIn 0.6s ease forwards;

  &:hover .menu-info {
    width: calc(100% - 00px);
  }

  &:hover .circle-check {
    transform: translateX(0);
  }

  &:hover .price {
     margin-right: 70px;
  }
}

.menu-info {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu_cards:nth-child(1) {
  animation-delay: 0.1s;
}

.menu_cards:nth-child(2) {
  animation-delay: 0.2s;
}

.menu_cards:nth-child(3) {
  animation-delay: 0.3s;
}

.menu_cards:nth-child(4) {
  animation-delay: 0.4s;
}

.menu_cards:nth-child(5) {
  animation-delay: 0.5s;
}

.menu_cards:nth-child(6) {
   animation-delay: 0.6s;
  }

.menu_cards:nth-child(7) {
   animation-delay: 0.7s;
  }

.menu_cards:nth-child(8) {
   animation-delay: 0.8s;
  }

.menu_cards:nth-child(9) {
   animation-delay: 0.9s;
  }

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-text {
  flex: 1 1 auto;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 12px;

   h3 {
      font-weight: 500;
      font-size: 18px;
    }

    p {
      font-weight: 300;
      font-size: 15px;
    }

    h3, p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
    }
}

.price {
  flex: 0 0 auto;
  margin-left: auto;
  margin-right: 10px;
  font-weight: 700;
  font-size: 15px;
  z-index: 2;
  transition: margin-right 0.35s ease;
  white-space: nowrap;

}

.circle-check {
  width: 60px;
  height: 100%;
  background-color: $terciary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  position: absolute;
  right: 0;
  top: 0;

    i {
      color: white;
      font-size: 20px;
    }
}
