@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand', cursive;

$font-size: 16px;
$line-height: 0;

body {
  font-family: $font-primary;
  font-size: $font-size;
  margin: 0;
  padding: 0;
}

$h1-size: 24px;
$h2-size: 18px;
$h3-size: 1.5rem;
$h4-size: 1.25rem;
$h5-size: 1.125rem;


h1 {
  font-family: $font-primary;
  font-size: $h1-size;
}

h2 {
  font-family: $font-primary;
  font-size: $h2-size;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: $h3-size;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}
